<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask project</title>
</head>

<body>
    <h1>hello</h1>
    <!-- <p>{{myvalue}}</p>
    <ul>
        {% for item in mylist %}
        <li>{{item}}</li>
        {% endfor %}
    </ul> -->
    <div>
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="username"><br>
            <input type="password" name="password" placeholder="password"><br>
            <input type="submit" placeholder="login">
        </form>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for msg in messages %}
                    <li>{{ msg }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <br><br>
    <!-- file upload -->
    <form action="/file_upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="text/plain" placeholder="upload">
        <input type="submit" placeholder="upload">
    </form>

    <form action="/download_file" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="text/plain" placeholder="upload">
        <input type="submit" placeholder="upload">
    </form>
    <form action="/download_file_two" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="text/plain" placeholder="upload">
        <input type="submit" placeholder="upload">
    </form>
    <h1>Javascript example</h1>
    <button id="post_button">Submit</button>


    <p>{{message}}</p>
    <a href="/setsession">set session</a>
    <a href="/getsession">get session</a>
    <a href="/clearsession">clear session</a>
    <br>
    <a href="/setcookie">set cookie</a>
    <a href="/getcookie">get cookie</a>
    <a href="/removecookie">clear cookie</a>
</body>
<script>
    const postbtn = document.getElementById('post_button')
    const data = { 'name': 'bharat', 'greeting': 'hi' }
    postbtn.addEventListener('click', () => {
        fetch('handlepost',{
            method:'POST',
            headers:{
                'Content-Type':'application/json; charset=utf-8'
            },
            body:JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => console.log(data))
        .catch((error) => {
            console.log(error);
            
        })
        
    })
</script>

</html>